<div class="container">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-floating">
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        maxlength="20"
        placeholder="Введите имя"
        [(ngModel)]="user.username"
        #username="ngModel"
        required>
      <label for="username" class="form-label">Имя</label>
    </div>

    <div *ngIf="(username.invalid && username.touched) || username.dirty">
      <div class="alert alert-warning" *ngIf="username.errors?.['required']">
        Неверное имя
      </div>
    </div>

    <div class="form-floating">
      <input
        type="text"
        id="userFamilyName"
        class="form-control"
        name="userFamilyName"
        maxlength="20"
        placeholder="Введите фамилию"
        [(ngModel)]="user.userFamilyName"
        #userFamilyName="ngModel"
        required
      >
      <label for="userFamilyName" class="form-label">Фамилия</label>
    </div>

    <div *ngIf="(userFamilyName.invalid && userFamilyName.touched) || userFamilyName.dirty">
      <div class="alert alert-warning" *ngIf="userFamilyName.errors?.['required']">
        Неверная фамилия
      </div>
    </div>

    <div class="form-floating">
      <input
        type="text"
        id="userSureName"
        class="form-control"
        name="userSureName"
        maxlength="20"
        placeholder="Введите отчество"
        [(ngModel)]="user.userSureName"
        #userSureName="ngModel"
        required
      >
      <label for="userSureName" class="form-label">Отчество</label>
    </div>

    <div *ngIf="(userSureName.invalid && userSureName.touched) || userSureName.dirty">
      <div class="alert alert-warning" *ngIf="userSureName.errors?.['required']">
        Неверное отчество
      </div>
    </div>

    <div class="form-floating">
      <input
        type="email"
        id="email"
        class="form-control"
        name="email"
        maxlength="300"
        aria-describedby="emailHelp"
        placeholder="email@email.ru"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
      >
      <label for="email" class="form-label">Адрес электронной почты</label>
    </div>

    <div *ngIf="(email.invalid && email.touched) || email.dirty">
      <div class="alert alert-warning" *ngIf="email.errors?.['required']">
        Неправильный email
      </div>
    </div>

    <div class="form-floating">
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        minlength="10"
        maxlength="300"
        placeholder="Пароль"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      >
      <label for="password" class="form-label">Пароль</label>
    </div>

    <div *ngIf="(password.invalid && password.touched) || password.dirty">
      <div class="alert alert-warning" *ngIf="password.errors?.['required']">
        Неправильный пароль
      </div>

      <div class="alert alert-danger" *ngIf="password.errors?.['minlength']">
        Минимальная длина 10 символов
      </div>
    </div>


    <div class="mb-3">
      <div class="form-floating">
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          name="confirmPassword"
          minlength="10"
          maxlength="300"
          placeholder="Повторите пароль"
          [(ngModel)]="user.confirmPassword"
          #confirmPassword="ngModel"
          required
        >
        <label for="confirmPassword" class="form-label">Повторите пароль</label>
      </div>

      <div *ngIf="(confirmPassword.invalid && confirmPassword.touched) ||confirmPassword.dirty">
        <div class="alert alert-danger" *ngIf="confirmPassword.errors?.['required']">
          Неправильный пароль
        </div>

        <div class="alert alert-danger" *ngIf="confirmPassword.errors?.['minlength']">
          Минимальная длина 10 символов
        </div>
        <div class="alert alert-danger" *ngIf="confirmPassword.value != password.value">
          Пароли не совпадают
        </div>
      </div>

      <div class="form-floating">
        <input
          type="date"
          id="birthday"
          class="form-control"
          name="birthday"
          min="1900-01-01"
          max="2015-01-01"
          [(ngModel)]="user.birthday"
          #birthday="ngModel"
          required
        >
        <label for="birthday" class="form-label">Дата рождения</label>
      </div>
      <div *ngIf="(birthday.invalid && birthday.touched) || birthday.dirty">
        <div class="alert alert-danger" *ngIf="birthday.value < '1900-01-01'">
          Минимальная дата рождения: 01.01.1900
        </div>
        <div class="alert alert-danger" *ngIf="birthday.value > '2015-01-01'">
          Максимальная дата рождения: 01.01.2015
        </div>
      </div>

      <div class="form-floating">
        <select
          class="form-select"
          id="gender"
          name="gender"
          [(ngModel)]="user.gender"
          #gender="ngModel"
          required
        >
          <option value="female">Женский</option>
          <option value="male">Мужской</option>
        </select>
        <label for="gender" class="form-label" >Пол</label>
      </div>

      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>
  </form>
</div>
