<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <div class="mb-3">
      <label for="email" class="form-label">Адрес электронной почты</label>
      <input type="email" formControlName="email" id="email" class="form-control"  name="email" aria-describedby="emailHelp" required="true" placeholder="email@email.ru">
      <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched">Введите правильный email</p>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" formControlName="password" id="password" class="form-control" name="password" minlength="6" maxlength="30" required="true">
      <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched">Введите пароль</p>

    </div>
    <button type="submit" class="btn btn-primary">Авторизироваться</button>
  </form>
</div>
